.darkContent .navbar{
  background-color: #600079!important;
}

.navbar-light .navbar-nav .nav-link{
  color: rgba(30, 25, 25, 0.50);
  font-size: 14px;
  line-height: 16px;
  margin-right: 13px;
}

.darkContent .navbar-light .navbar-nav .nav-link{
  color: rgba(255, 255, 255, 0.5);
}

.navbar-expand-lg .navbar-nav .nav-link{
  padding: 2px 0px!important;
}

.navbar-light .navbar-nav .nav-link.active{
  color: #C202F2!important;
  border-bottom: 1px solid #C202F2;
}

.darkContent .navbar-light .navbar-nav .nav-link.active{
  color: #CD05FF!important;
  border-bottom: 1px solid #CD05FF;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: #C202F2!important;
}

.darkContent .navbar-light .navbar-nav .nav-link:hover{
  color: #CD05FF!important;
}

.resumeLink{
  width: 65px;
  height: 25px;
  line-height: 25px;
  background-color: rgba(194, 2, 242, 0.10);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #C202F2;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  margin-right: 50px;
}

.resumeLink:hover{
  color: #C202F2;
  text-decoration: inherit;
}

.darkContent .resumeLink{
  background-color: rgba(194, 2, 242, 0.40);
}

.menuButtons{
  width: auto;
  display: flex;
  align-items: center;
}

.siteMode{
  width: 32px;
  height: 32px;
  background-image: url("/img/icon/emojione_light-bulb.png");
  background-repeat: no-repeat;
  background-size: 21px 21px;
  background-position: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.darkContent .siteMode{
  background-image: url("/img/icon/emojione_full-moon-face.png");
  background-size: 24px 24px;
  background-color: #4A015E;
}

.siteLang{
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  cursor: pointer;
  margin-left: 15px;
}

.siteLang.trLang{
  background-image: url("/img/icon/trFlag.svg");
}

.siteLang.enLang{
  background-image: url("/img/icon/usaFlag.svg");
}