.navbar{
  padding: .5rem 0px!important;
}

.darkContent .navbar{
  background-color: #600079!important;
}

.navbar-light .navbar-nav .nav-link{
  color: rgba(30, 25, 25, 0.50)!important;
  font-size: 14px;
  line-height: 16px;
  margin-right: 13px;
}

.navbar-light .navbar-nav .nav-link:focus{
  color: rgba(30, 25, 25, 0.50)!important;
}

.darkContent .navbar-light .navbar-nav .nav-link,
.darkContent .navbar-light .navbar-nav .nav-link:focus{
  color: rgba(255, 255, 255, 0.5)!important;
}

.navbar-expand-lg .navbar-nav .nav-link{
  padding: 2px 0px!important;
}

.navbar-light .navbar-nav .nav-link.active{
  color: #C202F2!important;
  border-bottom: 1px solid #C202F2;
}

.darkContent .navbar-light .navbar-nav .nav-link.active{
  color: #CD05FF!important;
  border-bottom: 1px solid #CD05FF;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: #C202F2!important;
}

.darkContent .navbar-light .navbar-nav .nav-link:hover{
  color: #CD05FF!important;
}

.resumeLink{
  width: 65px;
  height: 25px;
  line-height: 25px;
  background-color: rgba(194, 2, 242, 0.10);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #C202F2;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  margin-right: 50px;
}

.resumeLink:hover{
  color: #C202F2;
  text-decoration: inherit;
}

.darkContent .resumeLink{
  background-color: rgba(194, 2, 242, 0.40);
}

.menuOther{
  width: auto;
  display: flex;
  align-items: center;
}

.siteMode{
  width: 32px;
  height: 32px;
  background-image: url("/img/icon/emojione_light-bulb.png");
  background-repeat: no-repeat;
  background-size: 21px 21px;
  background-position: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.darkContent .siteMode{
  background-image: url("/img/icon/emojione_full-moon-face.png");
  background-size: 24px 24px;
  background-color: #4A015E;
}

.changeLang{
  width: auto;
  margin-left: 15px;
  display: flex;
}

.changeLangText{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #C4C4C4;
  margin-bottom: 10px!important;
}

.mblCopyright{
  font-size: 10px;
  line-height: 12px;
  color: #CD05FF;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0px!important;
}

.siteLang{
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  cursor: pointer;
}

.siteLang.trLang{
  background-image: url("/img/icon/trFlag.svg");
}

.siteLang.enLang{
  background-image: url("/img/icon/usaFlag.svg");
}

.navbar-light .navbar-toggler{
  color: transparent!important;
  border-color: inherit!important;
}

.show-navbar{
  width: 32px;
  height: 32px;
  background: transparent;
  padding: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;  
  border: none;
}

.darkContent .show-navbar svg path{
  stroke: #F1B8FF;
}

.close-navbar{
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 17px;
  right: 16px;
  background: transparent;
  padding: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;  
  border: none;
}

.darkContent .close-navbar svg path{
  fill: #F1B8FF;
}

@media (max-width: 991px){
  .navbar-collapse.collapse.show{
    position: fixed!important;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .darkContent .navbar-collapse.collapse{
    background-color: #600079;
  }

  .navbar-nav.ml-auto{
    margin: inherit!important;
  }

  .navbar-light .navbar-nav .nav-link{
    color: rgba(30, 25, 25, 0.3)!important;
    font-size: 38px;
    line-height: 45px;
    margin-right: 0px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
  }

  .darkContent .navbar-light .navbar-nav .nav-link{
    color: rgba(30, 25, 25, 0.5)!important;
  }

  .navbar-light .navbar-nav .nav-link:last-child{
    margin-bottom: 0px;
  }

  .navbar-light .navbar-nav .nav-link.active{
    border: none!important;
  }

  .siteMode{
    position: absolute;
    left: 16px;
    top: 20px;
    width: 48px;
    height: 48px;
    background-size: 32px 32px;
  }

  .darkContent .siteMode{
    background-size: 32px 32px;
  }

  .navbar{
    padding: 1.125rem 1px!important;
  }

  .changeLang{
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100%;
  }
}