.changeLang{
  width: auto;
  margin-left: 15px;
  display: flex;
}

.changeLangText{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #C4C4C4;
  margin-bottom: 10px!important;
}

.mblCopyright{
  font-size: 10px;
  line-height: 12px;
  color: #CD05FF;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0px!important;
}

.siteLang{
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  cursor: pointer;
}

.siteLang.trLang{
  background-image: url("/img/icon/trFlag.svg");
}

.siteLang.enLang{
  background-image: url("/img/icon/usaFlag.svg");
}

@media (max-width: 991px){
  .changeLang{
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100%;
  }
}